body {
    background-image: url('h3.jpg');
    background-size: cover; /* Cover the entire background area */
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.heading {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.description {
    font-size: 24px;
    margin-bottom: 40px;
    line-height: 1.5;
}

.input-box {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: 200px;
    margin-right: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px; /* Added margin-top for spacing */
}

.warning {
    color: #ff0000;
    font-size: 20px;
    font-style: italic;
}
